    
body {
    margin: 20px ;
    padding: 0;
    background-color: #FFFAF0;
    color: #1C1C1C;
    font-size: 15px;
    line-height: 2;

}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}
p{
    float: left;
}
#index h1 {
    font-size: 50px;
    line-height: 1;
    font-family: 'Bitter',serif;
    margin-bottom: 50px;
}
a{
    color: #3583aa;
    text-decoration: none;
}
a:visited{
    color:#788d98;
}
a:hover {
    text-decoration: underline;
}
/*stepボタンに変化をつける*/
.btn a {
    background-color: #52BCDE;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 185px;
    display: block;
    line-height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}

.btn a:hover{
    text-decoration: none;
    background-color:#FFFFFF;
    color:#52BCDE;
}
.global-nav {
    margin-top: 0;
    padding: 0;
    
}
.ul {
    margin: 0;
    padding: 0;
}
.global-nav li {
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter',serif;
}
.global-nav li a:hover{
    color: #48D1CC;
}


.content {
    width: 500px;
    margin: 5px;
}
.content logo{
    display: block;
    text-align: left;
}

footer {
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
.footer small{
    font-size: 12px;
    color: #3583aa;
}
.clearfix:after {
    content:"";
    display: block;
    clear: both;    
}
